SAMPLE_SECRET=ENC[AES256_GCM,data:2ANz+TKKU/zbtXoGGg==,iv:Pc87J0DyWgXqWRx2pbeiKILxBZmfNRSIr5KlrdKXj3w=,tag:nManA+9FWvf/ErBzyJ/gZA==,type:str]
sops_age__list_0__map_enc=-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSArUGRyYTlLOU9BTUhlUURt\naE9ZZjVtZGgwL0cvU1pyV213Y2tiTXo5alVZCmw3VGpzc0RIMGp6L0lLMDJFWXU0\nQ0ZBZEl3N1lEL21oVGw2dmJnK3FjVDAKLS0tIFFnZFlDUzFNMWdXSk43dHVzRnp6\nV2cvSG5hODdkMVJhcHcyUE91Qk80VG8KAlzJjr00vZzOMpzIpvdxRvCzLgY8AQPN\n5UnrP/XIUA1VsAifNqB/TchdOvsvK8jOpeJIiMZWW9sqdq3lxSnX9A==\n-----END AGE ENCRYPTED FILE-----\n
sops_age__list_0__map_recipient=age1vck8v96n30ptp8ksarca8m237jcewc6tlpuer0wus7742sqseusq65m4cj
sops_lastmodified=2026-06-27T20:47:51Z
sops_mac=ENC[AES256_GCM,data:Au+3YH/95TdYQBzhB5essPzjLnqYaTtqoax+vgfE8EIfUJVvmBDN5NUfbGxA5LUYwNLsMS8Zqyu7RAJm3Xj+jc9o3/yJtlmvIJfvWkNlFyms3EhxR4194C6Ivb/A2j40SlCkHr5cW+QE1L4Bp77JJG3xrl30xFDxCqQhK7IxbvM=,iv:dDjhT4qZ90hHaR1afS0LcMDTqhuwTKK3PuL5VnDHPDE=,tag:T5cqVuxGMvldGXFskvfbjg==,type:str]
sops_unencrypted_suffix=_unencrypted
sops_version=3.13.1
